
.reviews{
  padding: 160px auto;
}

.reviews-section__title{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.title.reviews__title{
  margin-right: 100px;
}
.slider__control--left{
  margin-right: 30px;
}