.welcome-section{
  width: 100%;
  clip-path: polygon(0% 0%, 0% 92%, 50% 100%, 100% 92%, 100% 0%);

  @include desktopSmall(){
    background: url('../images/content/Mountain_Baloon.png') center center no-repeat;
    background-size: cover;
  }
}