script(type="text/x-template")#reviews-list
  .reviews-block
    .reviews-section__title
      h2.title.reviews__title What people say about me
      .reviews-slider__controls
        button(type="button" @click="slide('prev')").slider__control.slider__control--circle.slider__control--left
          +icon(`arrow-down`, 'icon__arrow icon__arrow-left')
        button(type="button" @click="slide('next')").slider__control.slider__control--circle.slider__control--right
          +icon(`arrow-down`, 'icon__arrow icon__arrow-right')             
    .reviews__content
      flickity(ref="flickity" :options="flickityOptions")
        .reviews-slider__item(v-for="(review, index) in reviews")
          .quote-icon  
            +icon(`quote`, 'quote__icon')
          .quote
            .quote__text {{review.text}}
            .quote__author
              .person-info.person-info-horizontal
              .person-info__avatar
                img(:src="review['photo']" alt="Фото в отзывах").person-info__img-small
              .person-info__data
                .person-info__name {{review.name}} 
                .person-info__occ {{review.occ}}
