footer.footer
  .container.footer__container
    .footer__copyright
      .copyright
        .copyright__year © 2022
        .copyright__info
          .copyright__username Julia Aseeva
          .copyright__desc Personal website of a web developer
    .footer__data
      .footer__menu
        nav.nav.nav--color-white
          ul.nav__list
            each item in menu
              li.nav__item
                a(href=item.linkSec).nav__link #{item.title}
      .footer__data-columns
        .footer__data-col
          article.footer__text
            p(class="footer__text-txt") If you have any questions, or have interesting suggestions, you can find me here
          ul.footer__social.socials.socials--rounded
            each item, index in socials
              li.socials__item.socials__item--rounded
                a(href=socialsLink[index]).socials__link
                  +icon(item, 'socials__icon')
        .footer__data-col
          article.footer__text
            p(class="footer__text-txt") Always write code as if it will be accompanied by a violent psychopath who knows where you live.
            p(class="footer__text-person") Martin Golding
