header.header
  a(href="#").logo JA
  .header__menu
    nav.nav
      ul.nav__list
      each item in menu
        li.nav__item
          a(href=item.linkSec).nav__link #{item.title}
  .header__links
    - var socials = ['linkedin', 'fb', 'github'];
    - var socialsLink = ['https://www.linkedin.com/in/juliaaseeva/', 'https://www.facebook.com/profile.php?id=100013984274634', 'https://github.com/JulsDev'];
    ul.socials__list
    each item, index in socials
      li.socials__item
        a(href=socialsLink[index]).socials__link
          +icon(item, 'socials__icon')

  include ./humburger-menu
  include ./humburger-menu-popup