.humburger-menu-popup
  ul.menu-popup__list
    each item in menu
      li.menu-popup__item 
        a(href=item.linkSec).nav__link #{item.title}
  .header__links
    ul.socials__list
     - var socials = ['insta', 'linkedin', 'fb', 'github'];
      each item in socials
        li.socials__item
          a(href="").socials__link
            +icon(`${item}`, 'socials__icon')
  .humburger-menu-popup--close